.u-section-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 315px;
  background-image: url("images/imageprimaire.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 315px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 7px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 315px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 315px;
  background-image: url("images/imagefilleprimaire.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
  }

  .u-section-1 .u-text-4 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1594px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 0 21px;
}

.u-section-2 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 611px;
  width: 1119px;
  margin: 40px auto 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 33px 0 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 611px;
  width: 1119px;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    margin-left: 21px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0 19px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 611px;
  width: 1121px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 60px 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 123px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 42px auto 0 37px;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 307px;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 322px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 42px 42px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 107px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 122px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }
}